# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Build artifacts
dist/
build/
*.egg-info/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Project data
data/raw/*
data/processed/*

# Keep documentation files
!data/raw/.gitkeep
!data/processed/.gitkeep